<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Hermit</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" type="text/css" media="screen">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='modern-normalize.css')}}">
      <link rel="icon" href="{{url_for('static', filename='hermit-icon.png')}}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>
        <header class="nav-whole">
            <nav>
                <ul class="main-nav">
                    <!--<li><img class="hermit-image" src="{{ url_for('static', filename='hermit-icon.png') }}"></li>-->
                    <li class="navbar-brand"><a class="navbar-link" href="{{ url_for('landing_page') }}">Hermit</a></li>
                    <li class="navbar-item-1"><a class="link" href="{{ url_for('calendar_input') }}">Calendar Input</a></li>
                    <li class="navbar-item-1"><a class="link" href="{{ url_for('about_us') }}">About Us</a></li>
                </ul>
            </nav>
        </header>
        <section class="about-us">
          <div>
              <p>Ever since we met 8 hours ago, we've been inseparable (seriously!). We never knew how great of an icebreaker pain and torment would be (just kidding!).</p>
              <br>
              <p>We're a group of students from the University of Houston, and this is the first hackathon that we've had the pleasure of participating in.</p>
              <br>
              <br>
              <p>Vanessa Zambrano is a spontaneous, creatively-minded computer scientist! She has experience in full-stack development and a newfound expertise in Firebase.</p>
              <p>Jacob Hegy is a spontaneous, creatively-minded computer scientist! She has experience in full-stack development and a newfound expertise in Firebase.</p>
              <p>Mihir Sahu is a spontaneous, creatively-minded computer scientist! She has experience in full-stack development and a newfound expertise in Firebase.</p>
          </div>
        </section>
        <section>
            <div class="container">
                <div class="author-box" id="contact">
                    <img alt="Mihir Sahu" src="{{url_for('static', filename='mihir_headshot.jpg')}}">
                    <img alt="Vanessa Zambrano" src="{{url_for('static', filename='vanessa_headshot.jpg')}}">
                    <img alt="Jacob Hegy" src="{{url_for('static', filename='jacob_headshot.jpeg')}}">
                    <div class="author-box-comment">
                      <p class="made-with-love">Made with love</p>
                      <p><br> Mihir Sahu <br> Vanessa Zambrano <br> Jacob Hegy</p>
                    </div>
                </div>
            </div>
            <div>Icons made by <a class="attribution" href="https://www.freepik.com" title="Freepik">Freepik</a> from <a class="attribution "href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </section>
    </body>
</html>
