<!DOCTYPE html>
<html lang="en">
    
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.1.1/firebase-app.js";
        import { firestore } from "https://www.gstatic.com/firebasejs/9.1.1/firebase-firestore.js";  
        import { storage } from "https://www.gstatic.com/firebasejs/9.1.1/firebase-storage.js"; 
        import { functions } from "https://www.gstatic.com/firebasejs/9.1.1/firebase-functions.js";
        import { messaging } from "https://www.gstatic.com/firebasejs/9.1.1/firebase-messaging.js";

        const firebaseConfig = {
        apiKey: "AIzaSyDbusyMan78yGyLNtyM8paGKgG9LtASqW4",
        authDomain: "horizontal-data-327923.firebaseapp.com",
        projectId: "horizontal-data-327923",
        storageBucket: "horizontal-data-327923.appspot.com",
        messagingSenderId: "16493237544",
        appId: "1:16493237544:web:00162e15c6048cdc0cec1d",
        measurementId: "G-FNCQDSR1YJ"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        //const analytics = getAnalytics(app); < - don't know if i need this
    </script>

    <script src=".functions/main.js"></script>

    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Hermit</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" type="text/css" media="screen"> 
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='modern-normalize.css')}}">
      <link rel="icon" href="{{url_for('static', filename='hermit-icon.png')}}">
    </head>

    <body>
        <header class="nav-whole">
            <nav>
                <ul class="main-nav">
                    <li class="navbar-brand"><a class="navbar-link" href="#body-top">Hermit</a></li>
                    <li class="navbar-item-1"><a class="link" href="#about-me">Calendar Input</a></li>
                    <li class="navbar-item-1"><a class="link" href="#skills">About Us</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <h1>Hello world!</h1>
        </section>

        <section>
            <div class="container">
                <div class="author-box" id="contact">
                    <img alt="Mihir Sahu" src="{{url_for('static', filename='mihir_headshot.jpg')}}">
                    <img alt="Vanessa Zambrano" src="{{url_for('static', filename='vanessa_headshot.jpg')}}">
                    <img alt="Jacob Hegy" src="{{url_for('static', filename='jacob_headshot.jpeg')}}">
                    <div class="author-box-comment">
                      <p class="made-with-love">Made with love</p>
                      <p><br> Mihir Sahu <br> Vanessa Zambrano <br> Jacob Hegy</p>
                    </div>
                </div>
            </div>
            <div>Icons made by <a class="attribution" href="https://www.freepik.com" title="Freepik">Freepik</a> from <a class="attribution "href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </section>
    </body>
</html>
